@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
    --primary: #333333;
    --secondary: #424242;
    color: white;
}

#root::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.app {
    /* background-color: white; */
}

@keyframes animateGradient {
    0% {}

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons-outlined {
    font-size: unset;
}

* {
    margin: 0;
    font-family: "Poppins", "sans-serif";
}

*::-webkit-scrollbar {
    width: 14px;
    background: #424242;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    width: 100%;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}

.button {
    color: white;
    padding: 8px 10px;
    position: right top;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s;
    user-select: none;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 90px;
    margin-bottom: 50px;
}

.background {
    background: linear-gradient(135deg,
        #3b6064 0%,
        #c9e4ca 100%);
    animation: animateGradient 5s infinite;
    background-size: 200% 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header {
    font-size: 60px;
    font-family: Geneva,
        Verdana,
        sans-serif;

}

.form{
    background: #c9e4ca;
    width: 70%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 100px;
    margin-left: 230px;
    border-radius: 10px;
    
}